:root {
  --green: #006838;
  --white: #ffffff;
  --light-gray: #D6D6D6;
  --neutral-gray: #333333;

  .hidden {
    display: none;
  }
}

* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Open Sans', sans-serif;
}

.title {
    font-family: 'Times New Roman', 'Gerorgia', Times, serif;
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

.main-logo {
  width: 50%;
  min-width: 250px;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  font-family: 'Times New Roman', 'Gerorgia', Times, serif;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.section-basic {
  margin: 2rem;
}

.section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-left {
  display: flex;
  align-items: center;
  margin: 2rem;
}

.section-left > div {
  margin-left: 2rem;
}

.section-right > div {
  margin-right: 2rem;
}

.section-right {
  display: flex;
  align-items: center;
  margin: 2rem;
}

/* TODO: ratio of text to photo */

.section-text {
  line-height: 3rem;
  font-size: x-large;
}

.photo {
  width: 500px;
  height: 500px;
  border: var(--neutral-gray);
}

.cta-button {
  background-color: var(--green);
  color: var(--white);
  padding: calc(1rem + 4px);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover, .cta-button:focus {
  text-decoration: none;
  border: 4px solid var(--neutral-gray);
  padding: 1rem;
}

.cta-button:visited {
  text-decoration: none;
}

/* TODO: Dynamic loading on scrolling */
/* TODO: Mobile view */

/* Utility */
.animated-element {
    animation: fade-in-out linear;
    animation-timeline: view(); /* or scroll(self) for a specific container */
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }

  .main-logo {
    width: 100%;
  }

  .section-basic {
    margin: 2rem;
  }

  .section-center {
    margin: 2rem;
  }

  .section-left {
    flex-direction: column;
    margin: 2rem;
  }

  .section-left > div {
    margin-left: 0;
  }

  .section-right {
    flex-direction: column-reverse;
    margin: 2rem;
  }

  .section-right > div {
    margin-right: 0;
  }

  img {
      width: 100%;
      height: 100%;
  }

  .section-left > img, .section-right > img {
    margin-bottom: 2rem;
  }

  .headline {
    font-size: 2rem;
  }

  .section-text {
    font-size: 1rem;
    line-height: 2;
  }

  @keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
  }

  #footer > h6 {
    text-align: center;
  }
}