#footer {
    background-color: var(--neutral-gray);
    color: var(--white);
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 500px) {
    footer > h6 {
        text-align: center;
    }
}