#footer {
    background-color: var(--neutral-gray);
    color: var(--white);
    padding: 1rem;
    margin-top: 2rem;
}

.socials {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.socials-icon {
    width: 25px;
    margin: 1rem;
}

@media (max-width: 500px) {
    footer > h6 {
        text-align: center;
    }
}