.nav {
    background-color: var(--green);
    color: var(--white);
    
}

#mobile-menu {
    display: none;
    text-align: center;
    padding: 0.5rem;
}

.nav-link-container {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: var(--white);
}

.nav-item {
    flex: 1;
    text-align: center;
}

@media (max-width: 500px) {
    #mobile-menu {
        display: block;
    }

    .nav-link-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--neutral-gray);
    }

    /* .hidden {
        display: none;
    } */
}



