.nav {
    background-color: var(--green);
    color: var(--white);
    
}

.nav-link-container {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: var(--white);
}

.nav-item {
    flex: 1;
    text-align: center;
}


